@use './reset.scss';
body {
  background-color: grey;
}

@media screen and (max-width: 768px) {
  .left_navigation {
    width: 50%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .left_nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    /* font-size: 120%; */
    color: black;
  }
  .gta_img {
    height: 40px;
  }
  .h-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .right_nav {
    list-style-type: none;
    text-align: center;
    width: 50%;
    float: right;
  }
  .nav_1 {
    display: block;
    margin: 8px;
  }
  .nav_2 {
    display: block;
    margin: 8px;
  }
  .nav_3 {
    display: block;
    margin: 8px;
  }
  .Of_img {
    height: 30px;
  }
  .BAT_img {
    height: 30px;
    margin-left: 1%;
  }
  .ZG_img {
    height: 30px;
  }
}

@media screen and (min-width: 769px) {
  .h-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    /* border: $border red; */
  }
  .left_navigation {
    float: left;
    /* border: $border green;  */
    margin-left: 5%;
  }
  .left_nav {
    color: black;
    /* border: $border yellow; */
  }
  .imgss {
    height: 30px;
  }
  .right_nav {
    list-style-type: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    /*         border: $border green;
 */
    float: right;
    margin-left: 50%;
  }
  .navs_rgt {
    /*         border: $border blue;
 */
    margin: 0 10px;
  }
}

.post_header {
  /*     background-color: black;
 */
  height: 40px;
  text-align: center;
}

.post_header2 {
  border: 2px solid white;
  -webkit-text-decoration: white;
          text-decoration: white;
  color: white;
  margin-top: 5px;
  padding-bottom: 4px;
}

.LICAA_class {
  color: white;
}

.logo {
  width: 50%;
  height: 110px;
}

.img_div {
  padding-top: 6%;
}

.forbg {
  background-image: url(../images/Images/images/bg.jpg);
  height: 500px;
  width: 100%;
  /*     border: $border red;
 */
  position: relative;
}

.logo_text {
  text-align: center;
  margin-top: 2%;
  color: white;
}

@media screen and (max-width: 768px) {
  .search-restaurant {
    text-align: center;
  }
  #search-rest {
    border: 1px solid black;
    width: 90%;
    height: 35px;
    padding-left: 8px;
    margin-bottom: 5px;
  }
  .search-btn {
    width: 90%;
    height: 35px;
    background-color: red;
    color: white;
  }
}

@media screen and (min-width: 769px) {
  .search-restaurant {
    text-align: center;
  }
  #search-rest {
    border: 1px solid black;
    width: 60%;
    height: 35px;
    padding-left: 8px;
    margin: 6px 0;
  }
  .search-btn {
    width: 10%;
    height: 35px;
    background-color: red;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .widget {
    /* border: $border red; */
    padding: 5px 0 0 5px;
    float: left;
    width: 95%;
    margin: 0 10px;
  }
  h4 {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
  }
  #search-del {
    width: 70%;
    height: 35px;
    padding-left: 5px;
    border: 1px solid black;
  }
  .detect-btn {
    height: 35px;
    width: 27%;
  }
  .order-btn {
    height: 35px;
    margin-top: 10px;
    color: white;
    background-color: green;
    width: 98%;
  }
  .For_Ad {
    width: 100%;
    height: 113px;
    /* border: $border red; */
    text-align: center;
    padding-top: 30px;
    float: left;
  }
  .post_widget {
    /* border: $border red; */
    float: left;
    width: 95%;
    margin: 5px 10px;
    padding: 0 10px;
    color: green;
    font-size: 1.4em;
    /* margin-top: 35px; */
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .widget {
    /*         border: $border red;
 */
    padding: 5px 0 0 5px;
    float: left;
    width: 35%;
    margin-left: 15px;
  }
  h4 {
    margin-top: 3px;
    font-size: 1.2em;
    font-weight: bold;
  }
  #search-del {
    width: 80%;
    height: 30px;
    padding-left: 5px;
    border: 1px solid black;
  }
  .detect-btn {
    height: 30px;
    width: 18%;
  }
  .order-btn {
    height: 30px;
    margin-top: 10px;
    color: white;
    background-color: green;
    width: 99%;
  }
  .For_Ad {
    width: 62%;
    height: 190px;
    /* border: $border red; */
    text-align: center;
    padding-top: 50px;
    float: right;
  }
  .post_widget {
    /* border: $border red; */
    float: left;
    width: 35%;
    margin-left: 15px;
    margin-top: 15px;
    color: green;
    font-size: 1.4em;
    margin-top: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #cat-title {
    margin-top: 300px;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  #cat-subtitle {
    margin-left: 15px;
  }
  .category-list > li {
    padding: 0;
    margin: 5px 0 0 30px;
    display: inline-block;
  }
  .lists > img {
    width: 60px;
  }
  figcaption {
    text-align: center;
    width: 60px;
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .categories {
    /* border: $border red; */
    margin-top: 220px;
  }
  #cat-title {
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #cat-subtitle {
    margin-left: 20px;
    margin-top: 0;
    padding-top: 0;
  }
  .category-list > li {
    padding: 0;
    margin: 5px 0 0 35px;
    display: inline-block;
  }
  figcaption {
    text-align: center;
    margin-top: 0;
  }
}

#loc-title {
  /*     border: $border red;
 */
  margin-top: 20px;
  margin-left: 15px;
  padding-left: 3px;
  font-size: 1.5em;
  -webkit-text-decoration: black;
          text-decoration: black;
  font-weight: bold;
  margin-bottom: 0;
}

#loc-subtitle {
  font-size: 20px;
  padding-left: 3px;
  margin-left: 15px;
}

.locality-list {
  list-style-type: none;
}

.locality-list > li {
  padding: 0px;
  margin: 10px;
}

footer {
  background-color: black;
  display: block;
}

@media screen and (max-width: 768px) {
  .footer-wrapper > img {
    height: 20%;
    width: 20%;
    margin: 8px 0 0 8px;
  }
  .footer-wrapper {
    border: 2px solid black;
    background-color: black;
    display: block;
    height: 410px;
  }
}

@media screen and (min-width: 769px) {
  .footer-wrapper > img {
    height: 30%;
    width: 10%;
    margin: 20px 0 0 0px;
    /* padding-bottom: 0; */
  }
  .footer-wrapper {
    border: 2px solid black;
    background-color: black;
    /* display: block; */
    height: 300px;
  }
}

.footer_about > li {
  float: left;
  background-color: black;
  color: white;
}

.footer_about {
  background-color: black;
}

.nested_li > li {
  padding: 2px;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */